<head>
    <meta charset="utf-8">
    <title>Salvage Portal | <%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/frontend/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/frontend/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>