<div class="nav-container">
		    
		    
		
		    
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    <img class="logo logo-light" alt="Foundry" src="/frontend/img/logo-light.png">
                    <img class="logo logo-dark" alt="Foundry" src="/frontend/img/logo-dark.png">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="/">HOME</a>
                        </li><li>
                            <a href="/auth/login-form">lOGIN</a>
                        </li>
                        
                        
                    </ul>
                </div>
                
                
            </div>
            
        </div>
    </nav>

</div>