<!DOCTYPE html>
<html>
<%- include('../partials/login-head.ejs')  %> 
<body class="login-page">
	<%- include('../partials/login-nav.ejs') %> 
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<%- body %> 
		</div>
	</div>
	<%- include('../partials/login-script.ejs') %> 
</body>
</html>